
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Reclamations </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Reclamations</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right"><a href="#" class="btn btn-sm btn-neutral">New</a> <a href="#" class="btn btn-sm btn-neutral">Filters</a></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card mb-4"><div class="card-header"><h3 class="mb-0">My Reclamation</h3></div>
    <div class="card-body">
<div class="row card-wrapper">
    <div class="card" >
        <div class="card-body" >
            <div class="table-responsive">
                <table class="table table-primary table-bordered table-stripe ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      
                      <th scope="col" width="700px">Réclamations</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      
                      <td>Amet</td>
                      <td><a href="#" class="btn btn-sm btn-primary">Edit </a>&nbsp;&nbsp;<a href="#" class="btn btn-sm btn-danger">Delete </a> </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                     
                      <td>Elit</td>
                      <td>Sint</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                     
                      <td>Fugiat</td>
                      <td>Temporibus</td>
                    </tr>
                  </tbody>
              
                </table>
              </div>
        </div> 
    </div>
<!--<div class="col-lg-4" *ngFor="let rec of recs"  >
<div class="card" >
    <div class="card-body">
      
      <div class="pt-4 text-center">
        <h5 class="h3 title"><span class="d-block mb-1">{{ rec.title }}</span> </h5>
        <div class="h5 font-weight-300" ><i class="ni location_pin mr-2" ></i><p style="
            display:inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10ch;"> {{ rec.description }}</p></div>
            
    </div>

    </div>
</div>
</div> -->
</div>
</div>
</div>
</div>